# UNDERSTANDING VARIABLES

In [ ]:
# RULE1: no name space while declaring the variable name

In [1]:
first name = 'john'
print(first name)

SyntaxError: invalid syntax (<ipython-input-1-11affdc75a7b>, line 1)

In [2]:
first_name = 'john'
print(first_name)

john

In [3]:
firstname = 'john'
print(firstname)

john

In [ ]:
# RULE2:we should not start a variable name with a number

In [4]:
1name = 'rahul'
print(1name)

SyntaxError: invalid syntax (<ipython-input-4-f35bfbfe9e76>, line 1)

In [5]:
name1 = 'rahul'

print(name1)

In [ ]:
#RULE3: we should not use any special characters while declaring the variable name

special characters-$,&,@,Â£....

In [8]:
@name = 'kevin'
print(@name)

SyntaxError: invalid syntax (<ipython-input-8-2af55cac8b0d>, line 1)

introduction to Datatypes in python:

1.string----->str
2.integers--->int
3.list------->list
4.tuple------>tuple
5.dictionary->dict

# Note: python is a CASE SENSITIVE language

In [ ]:
Classification of datatypes:
    There are two different categeories!

    1.Mutable Datatypes:The datatypes that can be modifies/altered once it has been created is termed as mutable data types
        
    2. Immutable Datatypes:The datatypes that cannot be modifies/altered once it has been created is termed as immutable data types

In [ ]:
Introduction to string datatypes

In [ ]:
Defination:a string is nothing but a series of characters

In [ ]:
there a 3 possible ways of defining a string
    
        1.Single quotes
        2.Double quotes
        3.Triple quotes

In [9]:
name= 'pradeep'
print(name)

pradeep

In [10]:
name2 = "sachitha"
print(name2)

sachitha

In [12]:
name3 = """Mahesh"""
print(name3)

Mahesh

# Introduction to string methods: ---->built in:

In [ ]:
how to verify and validate the datatype.

In [13]:
type(name)

str

In [14]:
type(name2)

str

In [15]:
type(name3)

str